<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{%  if access %}
    <img src="https://img.memecdn.com/Hot-chick_o_87354.jpg" alt="">
{%  endif %}
{%  if not access %}
    <img src="https://images.pexels.com/photos/127028/pexels-photo-127028.jpeg" width="300px" alt="">
{%  endif %}

<p>{{ access }}</p>
</body>
</html>